<app-breadcrumb-area title="Liên hệ"></app-breadcrumb-area>
<div class="container-fluid">
    <div class="map mb-5">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.424751792864!2d106.77134871474958!3d10.855263092268027!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752775d299f6eb%3A0xf20347fb2a97c0fb!2zNSwgMjEgTMOqIFbEg24gQ2jDrSwgUGjGsOG7nW5nIExpbmggVHJ1bmcsIFRo4bunIMSQ4bupYywgVGjDoG5oIHBo4buRIEjhu5MgQ2jDrSBNaW5oLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1628866095991!5m2!1svi!2s"
            width="1280" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
    <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
        <div nz-col class="gutter-row mb-6" [nzSpan]="14">
            <div class="inner-box">
                <h3 class="title-3">
                    liên hệ
                </h3>
                <form>
                    <textarea nz-input placeholder="Nội dung" [nzAutosize]="{ minRows: 6, maxRows: 8 }"
                        class="mb-3"></textarea>
                    <input nz-input placeholder="Họ và tên" [nzSize]="'large'" class="mb-3" />
                    <input nz-input placeholder="gmail" [nzSize]="'large'" class="mb-3" />
                    <button class="send">GỬI</button>
                </form>
            </div>
        </div>
        <div nz-col class="gutter-row px-6" [nzSpan]="10">
            <div class="inner-box mt-6">
                <div class="content-contact mb-5 d-flex">
                    <i nz-icon nzType="home" nzTheme="outline"></i>
                    <div>
                        <p class="mb-1">
                            Thủ đức, Hồ Chí Minh
                        </p>
                        <p class="m-0 text">
                            5/21, Lê Văn Chí
                        </p>
                    </div>
                </div>
                <div class="content-contact mb-5 d-flex">
                    <i nz-icon nzType="mobile" nzTheme="outline"></i>
                    <div>
                        <p class="mb-1">
                            +0812523630
                        </p>
                        <p class="m-0 text">
                            Thứ 2 đến Thứ 6, Từ 9h-17h
                        </p>
                    </div>
                </div>
                <div class="content-contact mb-5 d-flex">
                    <i nz-icon nzType="mail" nzTheme="outline"></i>
                    <div>
                        <p class="mb-1">
                            Buingoclam00@gmail.com
                        </p>
                        <p class="m-0 text">
                            Gửi cho chúng tôi câu hỏi bất cứ lúc nào
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>