@import '/src/style/variable.scss';

.bgr-navbar {
  position: relative;
  background-color: white;
  min-height: 104px;
  box-shadow: 0 0 20px;
  width: 100%;
}

.logo img {
  max-height: 70px;
}

.logo a {
  float: left;
}

.categoryNav li a {
  font-size: $font18;
  color: $colorblack !important;
  font-weight: 600;
}

.categoryNav li:hover a {
  color: $colorred !important;
}

.dropdowNav::after {
  font-family: FontAwesome;
  position: absolute;
  bottom: -36px;
  display: block;
  font-size: 15px;
  line-height: 90px;
  color: #919191;
  font-weight: 400;
  content: "\f107";
  z-index: 5;
  right: -17px;
}

.pageItem {
  position: relative;
  justify-content: space-evenly;
  padding: 0 24px;
}

.pageItem i {
  color: $color33;
}

.pageItem i:hover {
  color: $colorred;
}

.pageItem p {
  color: #e9212e;
  position: absolute;
  top: 8px;
  right: 40px;
  font-size: 17px;
  font-weight: 600;
}

.head-example {
  width: 42px;
  height: 42px;
  border-radius: 4px;
  background: #eee;
  display: inline-block;
  vertical-align: middle;
}

.scroll {
  position: fixed;
  z-index: 1000;
  animation-name: showing;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
}

@keyframes showing {
  from {
    transform: translateY(-100px);
  }

  to {
    transform: translateY(0);
  }
}

.back-to-top i {
  color: white;
  font-size: 20px;
  padding-top: 13px;
}

.back-to-top {
  position: fixed;
  z-index: 9999;
  background: #ff2020;
  height: 50px;
  width: 50px;
  right: 31px;
  bottom: 18px;
  font-size: 20px;
  text-align: center;
  border-radius: 50%;
  line-height: 48px;
  border: 2px solid transparent;
  cursor: pointer;
  $section-transition-property: all;
  $section-transition-duration: 500ms;
  $section-transition-timing-function: cubic-bezier(.4, 0, .2, 1);
}

.off-modal {
  position: absolute;
  border: none;
  background: none;
  top: -48px;
  right: -6px;
  outline: none;
  cursor: pointer;
}

.off-modal i {
  color: #ebebeb;
  font-size: 24px;
  opacity: 0.8;
}

.form-search {
  position: relative;
}

.form-search button {
  position: absolute;
  left: 1px;
  height: 59px;
  width: 59px;
  border: none;
  cursor: pointer;
  background-color: white;
  top: 6px;
}

.form-search i {
  font-size: 24px;
}

.search {
  width: 100%;
  height: 75px;
  border: 1px solid;
  padding-left: 60px;
}
