<nz-header class=" bgr-navbar" [class.scroll]="isShowMiddleNav" nzAlign="top">
  <div class="container-fluid">
    <div nz-row class="align-item-center pt-3">
      <div nz-col nzSpan="5" nzJustify="center" class="logo text-align-center">
        <a href="#">
          <img src="../../../../../assets//building-login.png" alt="logo">
        </a>
      </div>
      <div nz-col nzSpan="14">

        <ul nz-row nzJustify="center" class="d-flex categoryNav text-center">
          <li class="col-md-3 "><a [routerLink]="[ROUTER_CONST.NOT_AUTH.HOME]">Trang chủ</a></li>
          <li class="col-md-3 "><a [routerLink]="[ROUTER_CONST.NOT_AUTH.ABOUTUS]"> Giới thiệu </a></li>
          <li nz-dropdown class="col-md-3 " [nzDropdownMenu]="menu"><a
              [routerLink]="[ROUTER_CONST.NOT_AUTH.PRODUCT.ROOT]"> Sản phẩm</a></li>
          <li class="col-md-3 "><a [routerLink]="[ROUTER_CONST.NOT_AUTH.CONTACT]"> Liên hệ</a></li>
        </ul>

      </div>
      <div nz-col nzSpan="5" class="d-flex pageItem align-item-center">
        <a (click)="showModal()" class="d-flex">
          <i class='bx bx-search bx-sm'></i>
        </a>
        <a nz-dropdown [nzDropdownMenu]="curentId? viewLogout : viewLogin" class="d-flex">
          <i class='bx bx-user bx-sm'></i>
        </a>
        <a [routerLink]="[ROUTER_CONST.NOT_AUTH.SHOPING_CART]" class="d-flex">
          <nz-badge [nzCount]="5">
            <i class='bx bx-cart bx-sm'></i>
          </nz-badge>
        </a>
      </div>
    </div>
  </div>

</nz-header>
<nz-back-top [nzDuration]="'1000'" [nzTemplate]="backtop"></nz-back-top>
<ng-template #backtop>
  <div class="back-to-top">
    <i class="fas fa-level-up-alt"></i>
  </div>
</ng-template>

<nz-dropdown-menu #menu>
  <ul nz-menu nzSelectable class="dropdow-product">
    <ng-container *ngIf="listCategory |async as listCategory">
      <li nz-menu-item *ngFor="let category of listCategory.data" (click)="navToProduct(category._id)">{{category.name}}
      </li>
    </ng-container>
  </ul>
</nz-dropdown-menu>

<nz-modal [(nzVisible)]="isVisible" (nzOnCancel)="handleCancel()" nzWidth="1056px" [nzKeyboard]="true" [nzFooter]="null"
  [nzCloseIcon]="offModal" [nzBodyStyle]="bodyStyle">
  <ng-container *nzModalContent>
    <form class="form-search" (ngSubmit)="searchPr()">
      <input type="text" class="search" [formControl]="name">
      <button type="submit"><i nz-icon nzType="search" nzTheme="outline"></i></button>
    </form>
  </ng-container>
</nz-modal>

<ng-template #offModal>
  <button (click)="handleCancel()" class="off-modal"><i nz-icon nzType="close" nzTheme="outline"></i></button>
</ng-template>
<nz-dropdown-menu #viewLogout="nzDropdownMenu">
  <ul nz-menu >
    <li nz-menu-item [routerLink]="[ROUTER_CONST.NOT_AUTH.CURRENT_USER]">Trang cá nhân</li>
    <li nz-menu-item (click)="logout()">Đăng xuất</li>
  </ul>
</nz-dropdown-menu>
<nz-dropdown-menu #viewLogin="nzDropdownMenu">
  <ul nz-menu >
    <li nz-menu-item [routerLink]="[ROUTER_CONST.NOT_AUTH.LOGIN]">Đăng nhập</li>
  </ul>
</nz-dropdown-menu>