@import '/src/style/grid.scss';
@import '/src/style/variable.scss';
.bgr-navbar{
    position: relative;
    background-color: white;
    min-height: 90px;
    box-shadow: 0 0 20px;
    width: 100%;
}
.logo img{
    max-height: 70px;
}
.categoryNav li a{
    font-size: $font18;
    color: $colorblack !important;
    font-weight: 500;
}
.dropdowNav{
    position: relative;
}
.dropdowNav::after{
    font-family: FontAwesome;
    position: absolute;
    bottom: -36px;
    display: block;
    font-size: 15px;
    line-height: 90px;
    color: #919191;
    font-weight: 400;
    content: "\f107";
    z-index: 5;
    right: -17px;
}
.pageItem{
    position: relative;
    justify-content: space-evenly;
}
.pageItem i{
    color: $color33;
}
.pageItem p{
    color: $colorred;
    color: #e9212e;
    position: absolute;
    top: 8px;
    right: 40px;
    font-size: 17px;
    font-weight: 600;
}
.head-example {
    width: 42px;
    height: 42px;
    border-radius: 4px;
    background: #eee;
    display: inline-block;
    vertical-align: middle;
  }