<nz-header class=" bgr-navbar" nzAlign="top">
  <div class="container-fluid">
    <div nz-row class="align-item-center">
      <div nz-col nzSpan="5" nzJustify="center" class="logo text-align-center">
        <a href="#">
          <img src="../../../../../assets/logo.jpg" alt="logo">
        </a>
      </div>
      <div nz-col nzSpan="14">

        <ul nz-row nzJustify="center" class="d-flex categoryNav text-center">

          <li class="col-md-3 "><a href="#"> giới thiệu </a></li>
          <li class="col-md-3 "><a href="#" class="dropdowNav"> Danh mục sản phẩm</a></li>
          <li class="col-md-3 "><a href="#"> Liên hệ</a></li>
          <li class="col-md-3 "><a href="#"> Thiết kế nội thất</a></li>
        </ul>

      </div>
      <div nz-col nzSpan="5" class="d-flex pageItem">
        <a href="#" class="d-flex algn-item-center">
          <i class='bx bx-search bx-sm'></i>
        </a>
        <a href="#" class="d-flex algn-item-center">
          <i class='bx bx-user bx-sm'></i>
        </a>
        <a href="#" class="d-flex algn-item-center">
          <i class='bx bx-cart bx-sm'> <p>0</p> </i>
        </a>

      </div>
    </div>
  </div>
</nz-header>