<div class="container-fluid mb-6 method-wrapper">
    <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
      <div nz-col class="gutter-row" [nzSpan]="8">
        <div class="inner-box text-wrapper">
          <div class="icon-wrapper">
            <i class="fa fa-truck"></i>
          </div>
          <h2>Miễn phí vẫn chuyển</h2>
          <p>Vận chuyển hàng hóa miễn phí, nhanh chóng, cẩn thận </p>
        </div>
      </div>
      <div nz-col class="gutter-row" [nzSpan]="8">
        <div class="inner-box text-wrapper">
          <div class="icon-wrapper">
            <i class="fa fa-credit-card"></i>
          </div>
          <h2>Thanh toán tiện lợi</h2>
          <p>Thanh toán dễ dàng bằng thẻ visa và nhiều loại ví</p>

        </div>
      </div>
      <div nz-col class="gutter-row" [nzSpan]="8">
        <div class="inner-box text-wrapper">
          <div class="icon-wrapper">
            <i class="fas fa-sync"></i>
          </div>
          <h2>Đổi trả hàng nhanh chóng</h2>
          <p>Đổi trả hàng nhanh chóng, miễn phí, hài lòng</p>
        </div>
      </div>
    </div>
  </div>
