<app-breadcrumb-area title="Trang cá nhân"></app-breadcrumb-area>
<div class="container-fluid">
  <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }" class="mb-4">
    <div nz-col class="gutter-row" [nzSpan]="16">
      <div class="inner-box">
        <div class="box-current" *ngIf="currentUser |async as currentUser">
          <h3 class="boder-bt title-3">Thông tin tài khoản</h3>
          <p class="title-35"> <b>Tên đăng nhập:</b> {{currentUser.userName }}</p>
          <p class="title-35"> <b>Họ và tên:</b> {{currentUser.fullName }}</p>
          <p class="title-35"> <b>Số điện thoại:</b> {{currentUser.phoneNumber }}</p>
          <p class="title-35"> <b>Giới tính:</b> {{currentUser.sex? 'Nam':'Nữ' }}</p>
          <p class="title-35"> <b>Ngày sinh:</b> {{currentUser.dateOfBirth | date: 'ddMMyyyy'}}</p>
          <p class="title-35 boder-bt"> <b>Địa chỉ:</b> {{currentUser.address }}</p>
          <button (click)="logout()">Đăng xuất</button>
        </div>
      </div>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="8">
      <div class="inner-box">
        <ul class="box-information">
          <h3 class="boder-bt title-3">Tài khoản</h3>
          <li class="title-35 focus">
            Thông tin tài khoản
          </li>
          <li class="title-35">
            Danh sách địa chỉ
          </li>
          <li class="title-35">
            Khách hàng thân thiết
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="buil">
    <h3 class="title-3 mb-4"> Danh sách đơn hàng</h3>
    <ng-container *ngIf="invoices$ |async as invoices">
      <div *ngFor="let invoice of invoices.data" class="mb-6" class="box mb-4">
        <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
          <div nz-col class="gutter-row" [nzSpan]="6">
            <div class="inner-box text-center"><b>Mã hóa đơn: </b> {{invoice.code}}</div>
          </div>
          <div nz-col class="gutter-row" [nzSpan]="6">
            <div class="inner-box text-center"><b>Trạng thái: </b>{{invoice.status |status}}
            </div>
          </div>
          <div nz-col class="gutter-row" [nzSpan]="6">
            <div class="inner-box text-center"><b>Ngày tạo: </b>{{invoice.createAt |date:'dd/MM/yyyy'}}
            </div>
          </div>
          <div nz-col class="gutter-row d-flex jc-center" [nzSpan]="6">
            <button nz-button (click)="onInvoice(invoice)" class="details"> Xem chi tiết</button>
          </div>
        </div>
      </div>
      <nz-modal [(nzVisible)]="isVisible" nzTitle="Chi tiết đơn hàng" [nzCancelText]="null"
        (nzOnOk)="handleOk()">
        <ng-container *nzModalContent>
          <div class="mb-4" nz-row>
            <ng-container *ngIf="employe$ |async as employe">
              <div nz-col nzSpan="12" >
                <b >Người duyệt: {{employe.fullName }}</b>
              </div>
              <div nz-col nzSpan="12">
                <b>Số điện thoại: {{employe.phoneNumber }}</b>
              </div>
            </ng-container>
          </div>
          <ng-container *ngIf="invoiceDetail$ |async as invoiceDetail">
            <nz-table #basicTable [nzData]="invoiceDetail.data" [nzFrontPagination]="false" [nzShowPagination]="false" class="mb-4">
              <thead>
                <tr>
                  <th>Tên sản phẩm</th>
                  <th>Giá bán</th>
                  <th>Số lượng</th>
                  <th>tổng giá</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngIf="product$ |async as product">
                  <tr *ngFor=" let item of invoiceDetail.data">
                    <td>{{ item.productId |Information:'name':(product.data)}}</td>
                    <td>{{ item.productId |Information:'price':(product.data)}}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.totalCash |money}}</td>
                  </tr>
                </ng-container>
              </tbody>
            </nz-table>
            <div class="right me-4 title-35">
              <b>Tổng tất cả chi phí: {{invoiceDetail.sumPrice |money }} </b>
            </div>
            <br>
          </ng-container>
        </ng-container>
      </nz-modal>
    </ng-container>
  </div>
</div>