<section class="bgr-footer">
  <div class="bgr-right">
  </div>
  <div class="container">
    <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }" class="px-6">
      <div nz-col class="gutter-row" [nzSpan]="6">
        <div class="inner-box">
          <div class="logo-footer">
            <a href="#">
              <img src="/assets/logo.jpg" alt="logo" width="150px" height="auto">
            </a>
          </div>
          <div class="text mt-4">
            <p class="text-wb">
              VP Hà Nội
            </p>
            <p>
              Địa chỉ: A12, Đinh Tiên Hoàng, Q. Hoàn Kiếm <br>
              Hotline: 01234567890 <br>
              Email: contact@yourdomain.net <br>
            </p>
          </div>
        </div>
      </div>
      <div nz-col class="gutter-row" [nzSpan]="6">
        <div class="inner-box">col-6</div>
      </div>
      <div nz-col class="gutter-row" [nzSpan]="6">
        <div class="inner-box">col-6</div>
      </div>
      <div nz-col class="gutter-row" [nzSpan]="6">
        <div class="inner-box">col-6</div>
      </div>
    </div>
  </div>
</section>