<section class="container-fluid mt-5">
  <div class="pt-5 footer-desktop" nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
    <div nz-col class="gutter-row" [nzSpan]="6">
      <div class="inner-box ">
        <div class="logo mb-5">
          <a href="#">
            <img src="../../../../../assets/building-login.png" alt="logo">
          </a>
        </div>
        <div class="title-box ml-2">
          <b>
            CN Hồ Chí Minh
          </b>
          <p class="mb-6">
            Địa chỉ: 25 Quang Trung, Phường 6, Quận 10
            <br>
            Hotline: 01234567989
            <br>
            Email: contact@yourdomain.net
          </p>
          <b>
            Xưởng sản xuất
          </b>
          <p class="mb-6">
            Địa chỉ: đường Cổ Nhuế, Q.Từ Liêm, Hà Nội
            <br>
            Hotline: 01234567689
            <br>
            Email: contact@yourdomain.net
          </p>
        </div>
      </div>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="6">
      <div class="inner-box">
        <ul class="list-footer">
          <b>Thông tin</b>
          <li>
            <a [routerLink]="[ROUTER_CONST.NOT_AUTH.ABOUTUS]">
              Về chúng tôi
            </a>
          </li>
          <li>
            <a href="#">
              Chính sách bảo mật
            </a>
          </li>
          <li>
            <a href="#">
              Điều khoản & Điều kiên
            </a>
          </li>
          <li>
            <a [routerLink]="[ROUTER_CONST.NOT_AUTH.CONTACT]">
              Liên hệ
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="6">
      <div class="inner-box">
        <ul class="list-footer">
          <b>Vật liệu xây dựng</b>
          <li>
            <a [routerLink]="[ROUTER_CONST.NOT_AUTH.ABOUTUS]">
              Về chúng tôi
            </a>
          </li>
          <li>
            <a href="#">
              Chính sách bảo mật
            </a>
          </li>
          <li>
            <a href="#">
              Điều khoản & Điều kiên
            </a>
          </li>
          <li>
            <a [routerLink]="[ROUTER_CONST.NOT_AUTH.CONTACT]">
              Liên hệ
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="6">
      <div class="inner-box">
        <div class="facebook-footer">
          <p>
            Facebook
          </p>
          <iframe
            src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fvatlieuxaydungnew&tabs&width=296&height=300&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId"
            width="296" height="300" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
            allowfullscreen="true"
            allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
        </div>
      </div>
    </div>
  </div>

  <!-- mobile -->
  <div class="pt-5 footer-mobile ps-3 non-desktop" nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
    <div nz-col class="gutter-row" [nzSpan]="24">
      <div class="inner-box ">
        <div class="logo mb-5">
          <a href="#">
            <img src="../../../../../assets/building-login.png" alt="logo">
          </a>
        </div>
        <div class="title-box ml-2">
          <b>
            CN Hồ Chí Minh
          </b>
          <p class="mb-6">
            Địa chỉ: 25 Quang Trung, Phường 6, Quận 10
            <br>
            Hotline: 01234567989
            <br>
            Email: contact@yourdomain.net
          </p>
          <b>
            Xưởng sản xuất
          </b>
          <p class="mb-6">
            Địa chỉ: đường Cổ Nhuế, Q.Từ Liêm, Hà Nội
            <br>
            Hotline: 01234567689
            <br>
            Email: contact@yourdomain.net
          </p>
        </div>
      </div>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="24">
      <div class="inner-box">
        <ul class="list-footer">
          <b>Thông tin</b>
          <li>
            <a [routerLink]="[ROUTER_CONST.NOT_AUTH.ABOUTUS]">
              Về chúng tôi
            </a>
          </li>
          <li>
            <a href="#">
              Chính sách bảo mật
            </a>
          </li>
          <li>
            <a href="#">
              Điều khoản & Điều kiên
            </a>
          </li>
          <li>
            <a [routerLink]="[ROUTER_CONST.NOT_AUTH.CONTACT]">
              Liên hệ
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="24">
      <div class="inner-box">
        <ul class="list-footer">
          <b>Vật liệu xây dựng</b>
          <li>
            <a [routerLink]="[ROUTER_CONST.NOT_AUTH.ABOUTUS]">
              Về chúng tôi
            </a>
          </li>
          <li>
            <a href="#">
              Chính sách bảo mật
            </a>
          </li>
          <li>
            <a href="#">
              Điều khoản & Điều kiên
            </a>
          </li>
          <li>
            <a [routerLink]="[ROUTER_CONST.NOT_AUTH.CONTACT]">
              Liên hệ
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="24">
      <div class="inner-box">
        <div class="facebook-footer">
          <p>
            Facebook
          </p>
          <iframe
            src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fvatlieuxaydungnew&tabs&width=296&height=300&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId"
            width="296" height="300" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
            allowfullscreen="true"
            allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
        </div>
      </div>
    </div>
  </div>

  <!-- mobile -->
  <div class="mb-6 pb-5 footer-mobile ps-3 non-desktop" nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
    <div nz-col class="gutter-row" [nzSpan]="24">
      <div class="inner-box ">
        <div class="copyright">
          Copyright ©2021 All rights reserved | This template is made with
          <i class="fa fa-heart" aria-hidden="true"></i>
          by <span>BuiLam</span>
        </div>
      </div>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="24">
      <div class="inner-box ">
        <div class="icon-footer">
          <i class="fab fa-twitter"></i>
          <i class="fab fa-facebook-f"></i>
          <i class="fab fa-behance"></i>
          <i class="fas fa-globe-asia"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="mb-6 pb-5 footer-desktop" nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
    <div nz-col class="gutter-row" [nzSpan]="12">
      <div class="inner-box ">
        <div class="copyright">
          Copyright ©2021 All rights reserved | This template is made with
          <i class="fa fa-heart" aria-hidden="true"></i>
          by <span>BuiLam</span>
        </div>
      </div>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="12">
      <div class="inner-box ">
        <div class="icon-footer">
          <i class="fab fa-twitter"></i>
          <i class="fab fa-facebook-f"></i>
          <i class="fab fa-behance"></i>
          <i class="fas fa-globe-asia"></i>
        </div>
      </div>
    </div>
  </div>
</section>