@import '/src/style/variable.scss';

.logo img {
  max-height: 70px;
}

.list-footer b {
  font-size: 32px;
  color: $colorblack !important;
  font-weight: 600;
  margin-top: 40px;
  display: block;
  margin-bottom: 32px;
}

.list-footer li {
  margin-bottom: 24px;
}

.list-footer a {
  color: $colorblack !important;
  font-size: 20px;
  opacity: 0.6;
}

.facebook-footer p {
  font-size: 32px;
  color: $colorblack !important;
  font-weight: 600;
  margin-top: 40px;
  display: block;
  margin-bottom: 32px;
  font-weight: bold;
}

.copyright {
  color: $colorblack !important;
  font-size: 20px;
  opacity: 0.6;
}

.copyright span {
  color: $colorred;
  opacity: 1;
}

.copyright i {
  color: $colorred;
  opacity: 1;
}

.icon-footer {
  float: right;
}

.icon-footer i {
  margin-left: 16px;
  margin-right: 16px;
  font-size: 24px;
}

.text-wrapper {
  padding: 20px 40px 0;
}

.method-wrapper {
  padding: 24px;
  background-color: $colorred;
}

.icon-wrapper {
  margin-bottom: 32px;
}

.icon-wrapper i {
  font-size: 48px;
  color: white;
}

.text-wrapper h2 {
  color: white;
  font-weight: 600;
  font-size: 24px;
}

.text-wrapper p {
  color: white;
  font-size: 16px;
}
