@import '/src/style/variable.scss';

.logo img {
  max-height: 70px;
}

.list-footer b {
  font-size: 32px;
  color: $colorblack !important;
  font-weight: 600;
  margin-top: 40px;
  display: block;
  margin-bottom: 32px;
}

.list-footer li {
  margin-bottom: 24px;
}

.list-footer a {
  color: $colorblack !important;
  font-size: 20px;
  opacity: 0.6;
}

.facebook-footer p {
  font-size: 32px;
  color: $colorblack !important;
  font-weight: 600;
  margin-top: 40px;
  display: block;
  margin-bottom: 32px;
  font-weight: bold;
}

.copyright {
  color: $colorblack !important;
  font-size: 20px;
  opacity: 0.6;
}

.copyright span {
  color: $colorred;
  opacity: 1;
}

.copyright i {
  color: $colorred;
  opacity: 1;
}

.icon-footer {
  float: right;
}

.icon-footer i {
  margin-left: 16px;
  margin-right: 16px;
  font-size: 24px;
}

@media (max-width: 576px) {
  .footer-desktop {
    display: none;
  }

  .icon-footer {
    margin-top: 16px;
    float: left;
  }

  .facebook-footer {
    height: 260px;
  }
  .copyright{
    font-size: 12px;
  }
  .icon-footer{
    float: left;
    i{
      font-size: 18px;
      margin: 6px;
    }
  }
}
