<nz-layout class="container-admin">
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <div [class]="isCollapsed===true? 'logo-small': 'logo'"></div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-submenu nzTitle="Hàng hóa" nzIcon="shop">
        <ul>
          <li nz-menu-item [routerLink]="[ROUTER_CONST.MAIN.CATEGORY.ROOT]" [nzSelected]="true">Loại hàng</li>
          <li nz-menu-item [routerLink]="[ROUTER_CONST.MAIN.PRODUCT.ROOT]">Hàng hóa</li>
          <li nz-menu-item [routerLink]="[ROUTER_CONST.MAIN.SUPPLIER.ROOT]">Nhà cung cấp</li>
        </ul>
      </li>
      <li nz-menu-item [routerLink]="[ROUTER_CONST.MAIN.INVOICE.ROOT]">
        <i nz-icon nzType="file-done"></i>
        <span>Hóa đơn</span>
      </li>
      <li nz-menu-item [routerLink]="[ROUTER_CONST.MAIN.CUSTOMER.ROOT]">
        <i nz-icon nzType="team"></i>
        <span>Khách hàng</span>
      </li>
      <li *ngIf="cookies === 'status=admin'" nz-menu-item [routerLink]="[ROUTER_CONST.MAIN.EMPLOYEE.ROOT]">
        <i nz-icon nzType="user-switch"></i>
        <span>Nhân viên</span>
      </li>
    </ul>

  </nz-sider>
  <nz-layout>
    <nz-header>
      <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
        (click)="isCollapsed = !isCollapsed"></i>
      <div class="logout">
        <button><a [routerLink]="['/main/login']"><i nz-icon nzType="logout" nzTheme="outline" 
          (click)="logout()"></i></a></button>
      </div>
    </nz-header>
    <nz-content>
      <nz-breadcrumb>
        <nz-breadcrumb-item>{{breadcrumb.pagemain}}</nz-breadcrumb-item>
        <nz-breadcrumb-item>{{breadcrumb.pagechild}}</nz-breadcrumb-item>
      </nz-breadcrumb>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer>BuiLam Design ©2021 Implement By Angular</nz-footer>
  </nz-layout>
</nz-layout>