.ant-carousel .slick-dots li{
    width: 40px;
}
.ant-carousel .slick-dots li button {
  background: #e9212e !important;
  height: 8px;
}

.ant-carousel .slick-dots {
    margin-right: 79%;
    margin-left: 0%;
}
[nz-button] {
  margin-right: 8px;
}