//general color
$darknight : #EDEDED;
$colorblack: #484543 ;
$colorgray: #444444;
$colorred: #e9212e;
$bgrbtn:#E1F4F3;
$color33:#333333;
$color71:#717fe0;
$colorhover:#5466e8;
//general font
$generalfont: "Open+Sans", sans-serif;

// font
$font16 : 16px;
$font14 : 14px;
$font18 : 18px;