<div class="bgr-img">
    <nz-carousel nzAutoPlay [nzAutoPlaySpeed]="100000">
        <div nz-carousel-content>
            <div nz-row class="bgr-carosel1">
                <div class="box-content">
                    <div>
                        Thiết kế nội thất
                    </div>
                    <p>
                        Chuyên gia trong thiết kế nội thất chung cư, biệt thự, khách sạn
                    </p>
                    <button>
                        <a href="#">
                            Xem Thêm
                        </a>
                    </button>
                </div>
            </div>
        </div>
        <div nz-carousel-content>
            <div class="bgr-carosel2">
                <div class="box-content">
                    <div>
                        Sản phẩm nội thất
                    </div>
                    <p>
                        Chất lượng tuyệt đối trong vật liệu, thiết kế và dịch vụ
                    </p>
                    <button>
                        <a href="#"> Xem Thêm
                        </a>
                    </button>
                </div>
            </div>
        </div>
    </nz-carousel>
    <div class="container-fluid cartBtCarosel">
        <div nz-row [nzGutter]="40" class="card-carosel justify-content-center">
            <div nz-col [nzSpan]="8" class="text-align-center">
                <div class="img-card">
                    <img src="/assets/noithatchungcu1-64x64.png" alt="chungcu" >
                </div>
                <div class="box-card pt-6">
                    <h2 class="my-2">
                        Nội thất Chung cư
                    </h2>
                    <p>Giải pháp thiết kế nội thất chung cư giàu thẩm mỹ.
                    </p>
                    <div class="py-3">
                        <a href="#">Đọc Thêm</a>
                    </div>
                </div>
            </div>
            <div nz-col [nzSpan]="8" class="text-align-center">
                <div class="img-card">
                    <img src="/assets/noithatbietthu1-64x64.png" alt="bietthu" >
                </div>
                <div class="box-card pt-6">
                    <h2 class="my-2">
                        Nội thất Biệt thự
                    </h2>
                    <p>Giải pháp cho không gian sống hiện đại, đầy đủ tiện ích.   
                    </p>
                    <div class="py-3">
                        <a href="#">Đọc Thêm</a>
                    </div>
                </div>
            </div>
            <div nz-col [nzSpan]="8" class="text-align-center">
                <div class="img-card">
                    <img src="/assets/noithatvanphong1-64x64.png" alt="vanphong" >
                </div>
                <div class="box-card pt-6">
                    <h2 class="my-2">
                        Nội thất Văn phòng
                    </h2>
                    <p>Giải pháp nội thất khách sạn tinh tế tối ưu về công năng.
                    </p>
                    <div class="py-3">
                        <a href="#">Đọc Thêm</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>