@import '/src/style/variable.scss';
// carosel top

::placeholder {
  /* chạy tốt trên Chrome, Firefox, Opera, Safari 10.1+ */
  color: #c5c5c5;
  opacity: 1;
  /* Firefox */
}

.bgr-img {
  position: relative;
  max-width: 1600px;
  min-height: 700px;
  margin: auto;
  margin-bottom: 216px;
}

[nz-carousel-content] {
  margin: auto;
  line-height: 50px;
  background: #364d79;
  color: #fff;
  overflow: hidden;
}

h3 {
  color: #fff;
  margin-bottom: 0;
}

.bgr-carosel1 {
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 600px;
  align-items: center;
  display: flex;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%), url(/assets/bgr-vlxd1.jpg);
}

.divCarosel {
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 81.2, 0, 1);
  transform-origin: 50% 50% 0px;
  opacity: 0;
}

.caroselOn {
  margin-top: 15px;
  opacity: 1;
  transition: all 1000ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transform: translate(0px, 0px);
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  transform-origin: 50% 50% 0px;
}

.backcaroselOn {
  overflow: hidden;
  height: 80px;
}

.pcarosel {
  margin-top: 30px;
  overflow: hidden;
  height: 50px;
}

.pCaroselOn {
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -28.4, 0, 1);
  transform-origin: 50% 50% 0px;
  opacity: 0;
}

.btncarosel {
  margin-top: 30px;
  overflow: hidden;
  height: 78px;
}

.pcaroselOn {
  opacity: 1;
  transition: all 1000ms ease;
  transform: translate(0px, 0px);
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  transform-origin: 50% 50% 0px;
}

.btnCaroselOn {
  opacity: 1;
  transition: all 1000ms ease;
  transform: translate(0px, 0px);
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  transform-origin: 50% 50% 0px;
}

.bgr-carosel2 {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 600px;
  align-items: center;
  display: flex;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%), url(/assets/bgr-vlxd2.jpg);
}

.box-content {
  position: absolute;
  left: 15%;
}

.box-content p {
  font-size: 18px;
}

.box-content button {
  border-radius: 15px;
  height: 60px;
  width: 168px;
  font-size: 16px;
  background-color: $colorred;
  border: none;
  outline: none;
  box-shadow: none;
  font-weight: 500;
  transition: all 600ms ease;
  font-weight: bold;

}

.box-content button a {
  color: white;
}

.box-content button:hover {
  background-color: $bgrbtn;
  transition: all 600ms ease;
}

.box-content button:hover a {
  color: #706C61;
  transition: all 600ms ease;
}

.card-carosel {
  width: 100%;
}

.img-card img {
  height: auto;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.img-card {
  border: 3px solid $colorred;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  z-index: 1;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
}

.cartBtCarosel {
  position: absolute;
  width: 100%;
  top: 80%;
  z-index: 999;
  left: 50%;
  transform: translateX(-50%);
  max-height: 300px;
}

.box-card div {
  background-color: $colorred;
}

.box-card a {

  font-size: 16px;
  font-weight: 600;
  color: white;
}

.box-card div:hover {
  transition: all 600ms ease;
  background-color: $bgrbtn;
}

.box-card div:hover a {
  transition: all 600ms ease;
  color: $color33;
}

.box-card {
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  border: 0.3px solid #33333338;
  background-color: white;
  border-radius: 2px;
}

.box-card p {
  opacity: 0.6;
  font-weight: 500;
  max-width: 260px;
  margin: 25px auto 25px auto;
}

//box and text
.m-introduce {
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

.img-box {
  position: relative;
  display: block;
  max-width: 470px;
  width: 100%;
  background: $darknight;
  padding-top: 60px;
  padding-left: 60px;
  height: 619px;
}

.img-box::before {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 100%;
  background: #ffffff;
  content: "";
  z-index: 1;
}

.in-box {
  z-index: 2;
}

.in-box-img {
  z-index: 2;
  position: absolute;

  img {
    width: 410px;
    height: 370px;
  }
}

.text-box {
  padding-top: 33px;
  padding-bottom: 52px;
  padding-right: 20px;
  margin-right: 60px;
  z-index: 1;
  position: absolute;
  bottom: 0;
}

.text-box i {
  font-size: 60px;
  transform: perspective(1200px) rotateX(0) translateZ(0px);
  position: absolute;
  right: 32px;
  opacity: 0.1;
  bottom: 30px;
}


.text-box p {
  color: $colorgray;
  font-size: 20px;
  line-height: 30px;
  margin: 0 0 17px;
  opacity: 0.7;
}

.text-box h3 {
  color: $color33;
  font-size: 18px;
  font-weight: 600;
}

// produc new
.product-new {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.box-out-img {
  overflow: hidden;
  margin-bottom: 8px;
}

.box-out-img img {
  width: 100%;
  min-height: 480px;
  margin: 0;
  transform: scale(1);
  transition: all .4s ease-out 0s;
}

.product-new h5 {
  font-size: 24px;
  font-weight: 600;
}

.product-new span {
  font-size: 16px;
  font-weight: 600;
  color: $colorred;
}

.box-out-img:hover img {
  transform: scale(1.04);
}


.abount-text {
  position: relative;
  padding-left: 4rem;
}

.inner-content {
  height: auto;
}

.sec-title {
  margin-bottom: 30px;
}


.about-carousel-box {
  max-width: 570px;
}

.out-carosel {
  height: 300px
}

.index-carosel {
  background-color: $colorred;
  max-height: 200px;
}

.out-carosel::before {
  content: '';
  width: 30px;
  height: 30px;
  background: $colorred;
  border-right: 30px solid #fff;
  border-bottom: 30px solid transparent;
  transform: perspective(1200px) rotateY(0) rotateX(183deg) translateZ(0px);
  position: absolute;
  bottom: 70px;
  left: 50px;
}

.redux-size {
  font-size: 80px;
}

.text-carosel h3 {
  font-size: 24px;
  text-decoration: solid underline;
}

.text-carosel p {
  margin: 0;
  line-height: 1.5;
  font-size: 16px;
}

// boximg
.container-boximg {
  position: relative;
  max-width: 1600px;
  min-height: 500px;
  margin: auto;
  margin-bottom: 100px;
  overflow: hidden;
}

.text-boximg {
  color: $colorred;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  z-index: 6;
}



// box img hover

.in-box {
  padding: 8px 0;
}

.in-box:hover .opacity-box {
  transform: scaleY(1);
}

.in-box:hover .on-text {
  transform: translate3d(0px, 0px, 0px);
  opacity: 1;
  transition: all 700ms ease 800ms;
}

.in-box:hover img {
  transition: all 300ms ease 200ms;
  transform: scale(1.5);
}

.out-box {
  z-index: 5;
  position: relative;
  display: block;
  overflow: hidden;
  padding: 0;
}

.out-box img {
  transition: all 300ms ease 200ms;
}

.opacity-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: rgba(0, 0, 0, 0.3);
  transform: scaleX(0);
  transition: all 700ms ease 100ms;
}

.on-text {
  position: absolute;
  left: 0px;
  bottom: 0px;
  right: 0px;
  text-align: center;
  display: block;
  padding-bottom: 34px;
  transform-style: preserve-3d;
  transform: perspective(1200px) rotateX(90deg) translateZ(-45px);
  opacity: 0;
  transition: all 300ms ease 200ms;
  z-index: 5;
  max-width: 330px;
  margin: auto;
}

.on-text h2 {
  text-align: center;
  color: #ffffff;
  font-weight: 600;
  padding: 3px 24px 0;

}

// selling-products
.selling-products h2 {
  position: relative;
}

.selling-products h2::after {
  content: "";
  display: block;
  width: 120px;
  height: 4px;
  background: $colorred;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 70%;
  border-radius: 5px;
}

.selling-products h2::before {
  content: "";
  display: block;
  width: 120px;
  height: 4px;
  background: $colorred;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 70%;
  border-radius: 5px;
}

.img-selling {
  img {
    width: 512px;
    height: 512px;
  }
}

// contact home
.outsidecontact {
  background-image: url(/assets/bgrcontact.png);
  position: relative;
  display: block;
  background: #27282c;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 110px;
  padding-bottom: 110px;
  max-width: 1519.2px;
  height: auto;
  margin: auto;
}

.box-contact {
  width: 100%;
  height: auto;
  background: white;
  padding: 32px;
}


.cw {
  color: white;
}

.form-contact {
  max-width: 470px;
  height: auto;
}

.form-contact input {
  padding: 0 20px;
  border: 1px solid #ededed;
  background: #ffffff;
  color: #7c7e84;
  font-size: 15px;
  font-weight: 400;
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  border-radius: 2px;
  transition: all 500ms ease;
}

.form-contact button {
  padding: 0 20px;
  width: 100%;
  height: 60px;
  color: $bgrbtn;
  background-color: $colorred;
  margin: 16px 0;
  border: 0px;
  border-radius: 5px;

}

nz-select {
  width: 100%;

}

//wrapper
// responsive
@media (max-width: 576px) {
  .bgr-img {
    position: relative;
    min-height: 200px;
    margin-bottom: 32px;
  }

  .bgr-carosel1 {
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 200px;
    align-items: center;
    display: flex;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%), url(/assets/bgr-vlxd1.jpg);
  }

  .box-content button {
    border-radius: 15px;
    height: 32px;
    width: 88px;
    font-size: 10px;
    background-color: #e9212e;
    border: none;
    outline: none;
    box-shadow: none;
    font-weight: 500;
    transition: all 600ms ease;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .pcarosel {
    margin-top: 0;
    line-height: 1;
    height: 52px;
    margin-bottom: 0;
  }

  .caroselOn {
    margin-top: 32px;
  }

  .btncarosel {
    margin-top: 16px;
  }

  .box-out-img {
    padding: 4px;
    margin-bottom: 0;
  }

  .pointer {
    margin-bottom: 0;
  }

  .img-selling {
    img {
      width: 100%;
      height: 300px;
    }
  }

  .card-carosel {
    display: none;
  }

  .img-box {
    max-width: 470px;
    padding-top: 50px;
    padding-left: 50px;
    height: 520px;
    margin-bottom: 24px;

    .in-box-img {
      z-index: 2;
      position: absolute;

      img {
        width: 125%;
        height: 205px;
      }

    }
  }
  .box-out-img img {
    min-height: 440px;
    
  }
  .m-introduce {
    margin: 0;
  }

  .abount-text {
    padding-left: 8px;
  }

  .text-carosel {
    h3 {
      font-size: 22px;
      text-decoration: solid underline;
    }

    p {
      font-size: 12px;
    }
  }

  .redux-size {
    font-size: 60px;
  }

  .selling-products {
    h2::after {
      content: "";
      display: block;
      width: 85px;
      height: 2px;
      background: $colorred;
      position: absolute;
      top: 86%;
      transform: translateY(-50%);
      left: 70%;
      border-radius: 5px;
    }

    h2::before {
      content: "";
      display: block;
      width: 85px;
      height: 2px;
      background: $colorred;
      position: absolute;
      top: 86%;
      transform: translateY(-50%);
      right: 70%;
      border-radius: 5px;
    }
  }
  // boximg mobile
  .text-boximg {
    padding: 8px;
  }
}
