<div class="container">
  <div class="box-out-search">
    <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
      <div nz-col [nzSpan]="18">
        <div class="inner-box">
          <nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="suffixButton" [nzSuffix]="inputClearTpl">
            <input #ipsearch type="text" [(ngModel)]="table.filter.searchName" nz-input
              placeholder="Tìm kiếm theo loại hàng" />
          </nz-input-group>
          <ng-template #suffixButton>
            <button nz-button nzType="primary" nzSize="large" nzSearch (click)="search()" class="m-0 abc">Tìm
              kiếm</button>
          </ng-template>
        </div>
      </div>
      <div nz-col class="mx-5 plus">
        <div class="inner-box mx-2" [nzSpan]="6" *ngIf="isShowMinus()">
          <button nz-button nzType="primary" nzPopconfirmPlacement="bottom" nz-popconfirm
            nzPopconfirmTitle="Bạn có chắc chắn muốn xóa không?" (nzOnConfirm)="deleteMany()">
            <i nz-icon nzType="minus" nzTheme="outline"></i>
          </button>
        </div>
        <div class="inner-box mx-2">
          <button nz-button nzType="primary" (click)="showModal(0)">
            <i nz-icon nzType="plus" nzTheme="outline"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="table-content">
    <ng-container *ngIf="!table.isLoading; else loading">
      <table class="table-container">
        <thead>
          <tr>
            <th><input type="checkbox" class="checkbox-table" (click)="table.checkAll()" [checked]="table.isCheckedAll">
            </th>
            <th>Tên</th>
            <th>Mô tả</th>
            <th>Hành động</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of table.data">
            <td><input type="checkbox" class="checkbox-table" (click)="table.check(item)" [checked]="item.checked"></td>
            <td class="text-center">{{item.name}}</td>
            <td class="text-center note-text py-6">
              <div class="text-overflow"> {{item.note}} </div>
            </td>
            <td class="btn-action text-center">
              <button nz-popconfirm [nzPopconfirmTitle]="'Xóa '+item.name+' không?'"
                (nzOnConfirm)="deleteOneCategory(item._id)">
                <i nz-icon nzType="delete" nzTheme="outline"></i>
              </button>
              <button (click)="showModal(1,item._id)"><i nz-icon nzType="edit" nzTheme="outline"></i></button>
              <button (click)="showModal(2,item._id)"><i nz-icon nzType="eye" nzTheme="outline"></i></button>

            </td>
          </tr>
        </tbody>
      </table>
    </ng-container>
    <div class="pagination-bottom">
      <nz-pagination [nzPageIndex]="table.pagination.page + 1 " [nzTotal]="table.total" [nzPageSize]="2"
        (nzPageIndexChange)="pageIndexChange($event)" [nzPageSize]="table.pagination.perPage" nzShowSizeChanger
        [nzPageSizeOptions]="[5, 10, 20]" (nzPageSizeChange)="pageSizeChange($event)"></nz-pagination>
    </div>
  </div>
</div>
<ng-template #loading>
  <div class="example">
    <nz-spin nzSimple></nz-spin>
  </div>
</ng-template>



<ng-template #inputClearTpl>
  <i nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle" *ngIf="ipsearch.value"
    (click)="deleteSearch()"></i>
</ng-template>


<nz-modal [(nzVisible)]="visible" [nzTitle]="stateConfig[state].title" (nzOnCancel)="onCancel()"
  [nzCancelText]="stateConfig[state].cancelText" [nzOkText]="stateConfig[state].okText" (nzOnOk)="handleOk()"
  [nzOkDisabled]="formEverything.invalid">
  <form [formGroup]="formEverything">
    <input nz-input placeholder="Tên loại hàng" [formControlName]="'name'" class=" my-3 input-name" [nzSize]="'large'" [type]="'text'"/>
    <app-form-control-error [form]="formEverything" [controlName]="'name'" [errorsMessage]="
        {
            required: 'Giá trị không được bỏ trống'
        }
        "></app-form-control-error>
    <textarea rows="4" placeholder="Miêu tả" nz-input [formControlName]="'note'" [nzSize]="'large'"></textarea>
  </form>
</nz-modal>