@import '/src/style/variable.scss';

.plus {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.plus button {
  width: 40px;
  height: 38px;
}

.table-content {
  margin-top: 24px;
  margin-bottom: 24px;
}

.btn-action button {
  margin-left: 16px;
  margin-right: 16px;
}

.btn-action a {
  color: $colorblack;
}

.table-container {
  width: 100%;
  margin-top: 24px;
  
}

.table-container tr {
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
  height: 53px;
  
}

.table-container td {
  border-left: 1px solid #f0f0f0;
  border-right: 1px solid #f0f0f0;
  padding-left: 15px;
  height: 53px;
}

.table-container th {
  border-left: 1px solid #f0f0f0;
  border-right: 1px solid #f0f0f0;
  text-align: center;
  height: 53px;
  background: #fafafa;
  color: $colorblack;
}
.checkbox-table {
    margin: auto;
    text-align: center;
    width: 16px;
    height: 16px;
   display: flex;
}
