<div class="container">
  <div class="box-out-search">
    <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
      <div nz-col class="gutter-row" [nzSpan]="18">
        <div class="inner-box">
          <nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="suffixButton">
            <input type="text" [(ngModel)]="table.pagination.searchName" nz-input
              placeholder="Tìm kiếm theo loại hàng" />
          </nz-input-group>
          <ng-template #suffixButton>
            <button nz-button nzType="primary" nzSize="large" nzSearch (click)="search()">Search</button>
          </ng-template>
        </div>
      </div>
      <div nz-col class="gutter-row plus" [nzSpan]="6">
        <div class="inner-box">
          <button nz-button nzType="primary" (click)="showModal(0)">
            <i nz-icon nzType="plus" nzTheme="outline"></i>
          </button>

        </div>
      </div>
    </div>
  </div>
  <div class="table-content">
    <ng-container *ngIf="!table.isLoading; else loading">
      <table class="table-container">
        <thead>
          <tr>
            <th><input type="checkbox" class="checkbox-table"></th>
            <th>Tên</th>
            <th>Mô tả</th>
            <th>Hành động</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of table.data">
            <td><input type="checkbox" class="checkbox-table"></td>
            <td class="text-center">{{item.name}}</td>
            <td class="text-center note-text py-6">
              <div class="text-overflow"> {{item.note}} </div>
            </td>
            <td class="btn-action text-center">
              <button>
                <a nz-popconfirm nzPopconfirmTitle="Sure to delete?" (nzOnConfirm)="deleteRow()"><i nz-icon
                    nzType="delete" nzTheme="outline"></i></a>
              </button>
              <button (click)="showModal(1,item._id)"><i nz-icon nzType="edit" nzTheme="outline"></i></button>
              <button (click)="showModal(2,item._id)"><i nz-icon nzType="eye" nzTheme="outline"></i></button>

            </td>
          </tr>
        </tbody>
      </table>
    </ng-container>
    <div class="pagination-bottom">
      <nz-pagination [nzPageIndex]="table.pagination.page + 1 " [nzTotal]="table.total" [nzPageSize]="2"
        (nzPageIndexChange)="pageIndexChange($event)" [nzPageSize]="table.pagination.perPage" nzShowSizeChanger
        [nzPageSizeOptions]="[5, 10, 20]" (nzPageSizeChange)="pageSizeChange($event)"></nz-pagination>
    </div>
  </div>
</div>
<ng-template #loading>
  <div class="example">
    <nz-spin nzSimple></nz-spin>
  </div>
</ng-template>






<nz-modal [(nzVisible)]="visible" [nzTitle]="stay[state].title" (nzOnCancel)="onCancel()"
  [nzCancelText]="stay[state].cancelText" [nzOkText]="stay[state].okText" (nzOnOk)="handleOk()">
  <form [formGroup]="formEverything">
    <input nz-input placeholder="Tên loại hàng" [formControlName]="'name'" class=" my-3" />
    <textarea rows="4" nz-input [formControlName]="'note'"></textarea>
  </form>
</nz-modal>