
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Nunito:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');


//general color
$darknight : #EDEDED;
$colorblack: #171717;
$colorgray: #444444;

//general font
$generalfont: "Open+Sans", sans-serif;

html body{
    height: 100%;
}
a{
    text-decoration: none;
}