/* You can add global styles to this file, and also import other style files */
@import './style/main-style.scss';
@import './style/grid.scss';
@import "~ng-zorro-antd/ng-zorro-antd.min.css";
@import "~ng-zorro-antd/style/index.min.css";
/* Import base styles */
@import "~ng-zorro-antd/button/style/index.min.css";
/* Import one component's styles */
// boxicon
@import 'boxicons';
.ant-carousel .slick-dots li{
    width: 40px;
}
.ant-carousel .slick-dots li button {
  background: #e9212e !important;
  height: 8px;
}

.ant-carousel .slick-dots {
    margin-right: 79%;
    margin-left: 0%;
}
